.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

# Ignore GCP service account credentials
include/gcp/service_account.json
service_account.json

# Ignore everything in dbt_packages and logs
include/dbt/dbt_packages/
include/dbt/logs/

# Ignore metabase
include/metabase-data/

#Ignore target
include/dbt/target/
